body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #FFF;
    padding: 10px 20px;
}

.header button {
    border: 3px solid #ddd;
    border-radius: 10px;
    border-color: #8B4513;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    width: 15px;
}

.header h1 {
    margin: 0;
    text-align: center; /* Center the text */
    flex-grow: 1; /* Allow the h1 to take up remaining space */
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 20px;
    border-color: #8B4513;
    padding: 0;
    cursor: pointer;
}

.menu-button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px !important;
    height: 50px;
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 30px;
    border-color: #8B4513;
    padding: 0;
    cursor: pointer;
}

.back-button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.menu-placeholder {
    visibility: hidden;
    width: 50px;
    height: 50px;
}

.nav-button {
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 20px;
    border-color: #8B4513;
    padding: 10px 15px;
    margin: 10px 0;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #f8f8f8;
}

.button-logo {
    width: 40px; 
    height: 40px;
    margin-right: 15px; 
}

.phone-button-logo {
    width: 45px;
    height: 45px;
    margin-right: 15px;
}

.menu-button:hover {
    background-color: #f8f8f8;
}

.title {
    text-align: center;
    flex-grow: 1;
    margin: 0;
}

.placeholder {
    width: 30px;
    height: auto;
    visibility: hidden;
}

.separator {
    border: 0;
    height: 3px;
    background-color: #8B4513;
    margin: 0;
}

.content {
    padding: 20px;
    text-align: center;
}

#device-table {
    width: 80%;
    margin: 20px auto; 
    border-collapse: collapse; 
}

#device-table, #device-table th, #device-table td {
    border: 1px solid #ddd; 
}

#device-table th, #device-table td {
    text-align: left;
    padding: 8px; 
}

#device-table tr {
    background-color: #f2f2f2; 
}

#device-table th {
    background-color: #8B4513; 
    color: white;
    padding: 10px; 
}

.container {
    padding: 20px;
    text-align: center;
}
.network {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

button {
    background-color: #fff;
    border: 3px solid #ddd;
    border-radius: 20px;
    border-color: #8B4513;
    padding: 10px 15px;
    margin: 10px 0;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    color: #000000;
    text-align: center;
    font-weight: bold;
}

.status {
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
}
